/*
  This is a sample stylesheet to demonstrate our components without
  creating dependencies on external styling libraries. It is inspired
  by tailwindcss.

  Please replace this stylesheet with your choice of styling mechanism.
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--semantic-color-text-primary);
  background-color: var(--semantic-color-background-default);
  margin: 0;
  font-family: var(--semantic-font-family-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ----- Interactivity ----- */

.cursor-pointer {
  cursor: pointer;
}

/* ----- Flexbox ----- */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* ----- Margin ----- */

.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--sp-1);
}

.m-2 {
  margin: var(--sp-2);
}

.m-3 {
  margin: var(--sp-3);
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--sp-1);
}

.mt-2 {
  margin-top: var(--sp-2);
}

.mt-3 {
  margin-top: var(--sp-3);
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--sp-1);
}

.ml-2 {
  margin-left: var(--sp-2);
}

.ml-3 {
  margin-left: var(--sp-3);
}

/* ----- Padding ----- */

.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--sp-1);
}

.p-2 {
  padding: var(--sp-2);
}

.p-3 {
  padding: var(--sp-3);
}

/* ----- Border ----- */

.border-none {
  border-width: var(--semantic-border-width-none);
}

/* ----- Typography ----- */

.font-sans {
  font-family: var(--semantic-font-family-sans);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-base {
  font-size: var(--font-size-base);
}

.font-light {
  font-weight: var(--font-weight-light);
}

.font-regular {
  font-weight: var(--font-weight-regular);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.line-height-none {
  line-height: var(--line-height-none) !important;
}

.h1 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h1);
  font-weight: var(--font-weight-light);
  line-height: var(--semantic-line-height-h1);
  letter-spacing: var(--semantic-letter-spacing-h1);
}

.h2 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h2);
  font-weight: var(--font-weight-light);
  line-height: var(--semantic-line-height-h2);
  letter-spacing: var(--semantic-letter-spacing-h2);
}

.h3 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h3);
  font-weight: var(--font-weight-regular);
  line-height: var(--semantic-line-height-h3);
  letter-spacing: var(--letter-spacing-none);
}

.h4 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h4);
  font-weight: var(--font-weight-regular);
  line-height: var(--semantic-line-height-h4);
  letter-spacing: var(--semantic-letter-spacing-h4);
}

.h5 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h5);
  font-weight: var(--font-weight-regular);
  line-height: var(--semantic-line-height-h5);
  letter-spacing: var(--letter-spacing-none);
}

.h6 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h6);
  font-weight: var(--font-weight-medium);
  line-height: var(--semantic-line-height-h6);
  letter-spacing: var(--semantic-letter-spacing-h6);
}

.h6sm {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h6sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--semantic-line-height-h6);
  letter-spacing: var(--semantic-letter-spacing-h6);
}

.h6xs {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-h6xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--semantic-line-height-h6);
  letter-spacing: var(--semantic-letter-spacing-h6);
}

.body1 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-body1);
  font-weight: var(--font-weight-regular);
  line-height: var(--semantic-line-height-body1);
  letter-spacing: var(--semantic-letter-spacing-body1);
}

.body2 {
  font-family: var(--semantic-font-family-sans);
  font-size: var(--semantic-font-size-body2);
  font-weight: var(--font-weight-regular);
  line-height: var(--semantic-line-height-body2);
  letter-spacing: var(--semantic-letter-spacing-body2);
}

/* ----- Backgrounds ----- */

.bg-default {
  background-color: var(--semantic-color-background-default);
}

.bg-paper {
  background-color: var(--semantic-color-background-paper);
}

.bg-primary-light {
  background-color: var(--semantic-color-primary-light);
}

.bg-primary-main {
  background-color: var(--semantic-color-primary-main);
}

.bg-primary-dark {
  background-color: var(--semantic-color-primary-dark);
}

.bg-secondary-light {
  background-color: var(--semantic-color-secondary-light);
}

.bg-secondary-main {
  background-color: var(--semantic-color-secondary-main);
}

.bg-secondary-dark {
  background-color: var(--semantic-color-secondary-dark);
}

/* ----- Text Colors ----- */

.text-primary {
  color: var(--semantic-color-text-primary);
}

.text-secondary {
  color: var(--semantic-color-text-secondary);
}

.text-primary-contrast {
  color: var(--semantic-color-primary-contrast-text);
}

.text-secondary-contrast {
  color: var(--semantic-color-secondary-contrast-text);
}

/* ----- Icon Colors ----- */

.primary-icon-muted {
  color: var(--semantic-color-primary-icon-muted);
}

.primary-icon-bright {
  color: var(--semantic-color-primary-icon-bright);
}

/* ----- Components ----- */

.appbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--sp-3);
  min-height: var(--px-48);
  background-color: var(--semantic-color-primary-main);
  color: var(--semantic-color-primary-contrast-text);
  box-shadow: var(--box-shadow-2);
}

.card {
  background-color: var(--semantic-color-background-paper);
  border: var(--semantic-border-width-default) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow-1);
}

.button {
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  border-radius: var(--button-border-radius);
}

.button--small {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-16);
  padding: var(--space-pt-6) var(--space-pr-10) var(--space-pb-6)
    var(--space-pl-10);
}

.button--medium {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-16);
  padding: var(--space-pt-8) var(--space-pr-12) var(--space-pb-8)
    var(--space-pl-12);
}

.button--large {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-20);
  padding: var(--space-pt-8) var(--space-pr-16) var(--space-pb-8)
    var(--space-pl-16);
}

.button--contained {
  border-width: var(--semantic-border-width-default);
  border-color: var(--color-transparent);
}

.button--contained-default {
  color: var(--button-contained-default-text-color);
  background-color: var(--button-contained-default-background-color);
}

.button--contained-default:hover {
  background-color: var(--button-contained-default-state-hover);
}

.button--contained-primary {
  color: var(--semantic-color-primary-contrast-text);
  background-color: var(--semantic-color-primary-main);
}

.button--contained-primary:hover {
  background-color: var(--button-contained-primary-state-hover);
}

.button--contained-secondary {
  color: var(--semantic-color-secondary-contrast-text);
  background-color: var(--semantic-color-secondary-main);
}

.button--contained-secondary:hover {
  background-color: var(--button-contained-secondary-state-hover);
}

.button--outlined {
  background-color: var(--color-transparent);
  border-width: var(--semantic-border-width-default);
  border-style: solid;
}

.button--outlined-default {
  color: var(--semantic-color-text-primary);
  border-color: var(--button-outlined-default-border-color);
}

.button--outlined-default:hover {
  background-color: var(--button-outlined-default-state-hover);
}

.button--outlined-primary {
  color: var(--semantic-color-primary-main);
  border-color: var(--semantic-color-primary-main);
}

.button--outlined-primary:hover {
  background-color: var(--button-outlined-primary-state-hover);
}

.button--outlined-secondary {
  color: var(--semantic-color-secondary-dark);
  border-color: var(--semantic-color-secondary-dark);
}

.button--outlined-secondary:hover {
  background-color: var(--button-outlined-secondary-state-hover);
}

.button--disabled {
  cursor: default;
  pointer-events: none;
}

.button--disabled-contained {
  color: var(--semantic-color-state-disabled-text);
  background-color: var(--semantic-color-state-disabled);
}

.button--disabled-outlined {
  color: var(--semantic-color-state-disabled-text);
  border-color: var(--semantic-color-state-disabled);
}

/* ----- Layouts ----- */

.h-24 {
  height: 24px;
}

.h-86 {
  height: 86px;
}

.h-114 {
  height: 114px;
}

.h-400 {
  height: 400px;
}

.w-24 {
  width: 24px;
}

.max-w-800 {
  max-width: 800px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 16px;
  column-gap: 16px;
  row-gap: 16px;
}

/* ----- CSS Variables ----- */

:root {
  /* ----- pixel to rem conversion based on 16px browser default size ----- */
  --px-2: 0.125rem;
  --px-4: 0.25rem;
  --px-6: 0.375rem;
  --px-8: 0.5rem;
  --px-10: 0.625rem;
  --px-12: 0.75rem;
  --px-14: 0.875rem;
  --px-16: 1rem;
  --px-18: 1.125rem;
  --px-20: 1.25rem;
  --px-22: 1.375rem;
  --px-24: 1.5rem;
  --px-26: 1.625rem;
  --px-28: 1.75rem;
  --px-30: 1.875rem;
  --px-32: 2rem;
  --px-34: 2.125rem;
  --px-36: 2.25rem;
  --px-38: 2.375rem;
  --px-40: 2.5rem;
  --px-48: 3rem;

  /* ----- Spacing ----- */
  --sp-1: var(--px-8);
  --sp-2: var(--px-16);
  --sp-3: var(--px-24);
  --sp-4: var(--px-32);
  --sp-5: var(--px-40);
  --sp-6: var(--px-48);

  --space-pt-0: 0rem;
  --space-pt-1: 0.0625rem;
  --space-pt-2: 0.125rem;
  --space-pt-4: 0.25rem;
  --space-pt-6: 0.375rem;
  --space-pt-8: 0.5rem;
  --space-pt-10: 0.625rem;
  --space-pt-12: 0.75rem;
  --space-pt-14: 0.875rem;
  --space-pt-16: 1rem;
  --space-pl-0: 0rem;
  --space-pl-1: 0.0625rem;
  --space-pl-2: 0.125rem;
  --space-pl-4: 0.25rem;
  --space-pl-6: 0.375rem;
  --space-pl-8: 0.5rem;
  --space-pl-10: 0.625rem;
  --space-pl-12: 0.75rem;
  --space-pl-14: 0.875rem;
  --space-pl-16: 1rem;
  --space-pb-0: 0rem;
  --space-pb-1: 0.0625rem;
  --space-pb-2: 0.125rem;
  --space-pb-4: 0.25rem;
  --space-pb-6: 0.375rem;
  --space-pb-8: 0.5rem;
  --space-pb-10: 0.625rem;
  --space-pb-12: 0.75rem;
  --space-pb-14: 0.875rem;
  --space-pb-16: 1rem;
  --space-pr-0: 0rem;
  --space-pr-1: 0.0625rem;
  --space-pr-2: 0.125rem;
  --space-pr-4: 0.25rem;
  --space-pr-6: 0.375rem;
  --space-pr-8: 0.5rem;
  --space-pr-10: 0.625rem;
  --space-pr-12: 0.75rem;
  --space-pr-14: 0.875rem;
  --space-pr-16: 1rem;

  /* ----- Box Shadows ----- */
  --box-shadow-1: 0px 11px 4px 0px #00000003, 0px 6px 4px 0px #0000000d,
    0px 3px 3px 0px #00000014, 0px 1px 1px 0px #00000017,
    0px 0px 0px 0px #0000001a;
  --box-shadow-2: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024,
    0px 1px 10px 0px #0000001f;

  /* ----- Borders ----- */
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-none: 0px;

  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;

  /* ----- Color Palette ----- */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-transparent: #00000000;

  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #eeeeee;
  --color-grey-300: #e0e0e0;
  --color-grey-400: #bdbdbd;
  --color-grey-500: #9e9e9e;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;

  --color-grey-custom-50: #f1f2f6;
  --color-grey-custom-500: #4b535f;
  --color-grey-custom-600: #1f2937;
  --color-grey-custom-700: #1e1e1e;
  --color-grey-custom-800: #151c26;
  --color-grey-custom-900: #121212;

  --color-blue-50: #dceefb;
  --color-blue-100: #b6e0fe;
  --color-blue-200: #84c5f4;
  --color-blue-300: #62b0e8;
  --color-blue-400: #4098d7;
  --color-blue-500: #2680c2;
  --color-blue-600: #186faf;
  --color-blue-700: #0f609b;
  --color-blue-800: #0a558c;
  --color-blue-900: #003e6b;

  --color-blue-grey-50: #f0f4f8;
  --color-blue-grey-100: #d9e2ec;
  --color-blue-grey-200: #bcccdc;
  --color-blue-grey-300: #9fb3c8;
  --color-blue-grey-400: #829ab1;
  --color-blue-grey-500: #627d98;
  --color-blue-grey-600: #486581;
  --color-blue-grey-700: #334e68;
  --color-blue-grey-800: #243b53;
  --color-blue-grey-900: #102a43;

  --color-yellow-50: #fffbea;
  --color-yellow-100: #fff3c4;
  --color-yellow-200: #fce588;
  --color-yellow-300: #fadb5f;
  --color-yellow-400: #f7c948;
  --color-yellow-500: #f0b429;
  --color-yellow-600: #de911d;
  --color-yellow-700: #cb6e17;
  --color-yellow-800: #b44d12;
  --color-yellow-900: #8d2b0b;

  /* ----- Typography ----- */
  --font-family-fira-sans: Fira Sans;
  --font-family-inter: Inter;

  --letter-spacing-none: 0em;

  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-36: 2.25rem;
  --line-height-40: 2.5rem;
  --line-height-none: 1;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --text-case-none: none;
  --text-decoration-none: none;

  /* ----- Semantic Layer ----- */
  --semantic-border-width-none: var(--border-width-0);
  --semantic-border-width-default: var(--border-width-1);

  --semantic-font-family-sans: var(--font-family-inter);

  --semantic-line-height-h1: 1.167;
  --semantic-line-height-h2: 1.2;
  --semantic-line-height-h3: 1.167;
  --semantic-line-height-h4: 1.235;
  --semantic-line-height-h5: 1.334;
  --semantic-line-height-h6: 1.6;
  --semantic-line-height-body1: 1.5;
  --semantic-line-height-body2: 1.43;

  --semantic-font-size-h1: var(--font-size-8xl);
  --semantic-font-size-h2: var(--font-size-6xl);
  --semantic-font-size-h3: var(--font-size-5xl);
  --semantic-font-size-h4: var(--font-size-4xl);
  --semantic-font-size-h5: var(--font-size-2xl);
  --semantic-font-size-h6: var(--font-size-xl);
  --semantic-font-size-h6sm: var(--font-size-lg);
  --semantic-font-size-h6xs: var(--font-size-base);
  --semantic-font-size-body1: var(--font-size-base);
  --semantic-font-size-body2: var(--font-size-sm);

  --semantic-letter-spacing-h1: -0.01562em;
  --semantic-letter-spacing-h2: -0.00833em;
  --semantic-letter-spacing-h4: 0.00735em;
  --semantic-letter-spacing-h6: 0.0075em;
  --semantic-letter-spacing-body1: 0.00938em;
  --semantic-letter-spacing-body2: 0.01073em;

  --semantic-color-primary-light: var(--color-blue-500);
  --semantic-color-primary-main: var(--color-blue-800);
  --semantic-color-primary-dark: var(--color-blue-900);
  --semantic-color-primary-contrast-text: var(--color-white);
  --semantic-color-primary-icon-muted: var(--color-blue-grey-300);
  --semantic-color-primary-icon-bright: var(--color-blue-grey-50);
  --semantic-color-secondary-light: var(--color-yellow-200);
  --semantic-color-secondary-main: var(--color-yellow-400);
  --semantic-color-secondary-dark: var(--color-yellow-600);
  --semantic-color-secondary-contrast-text: var(--color-blue-grey-900);
  --semantic-color-secondary-icon-muted: var(--color-blue-grey-500);
  --semantic-color-secondary-icon-bright: var(--color-blue-grey-900);
  --semantic-color-background-default: var(--color-grey-custom-50);
  --semantic-color-background-paper: var(--color-white);
  --semantic-color-text-primary: var(--color-blue-grey-900);
  --semantic-color-text-secondary: var(--color-blue-grey-600);
  --semantic-color-icon-muted: var(--color-blue-grey-300);
  --semantic-color-icon-bright: var(--color-blue-grey-800);
  --semantic-color-state-disabled: #0000001f;
  --semantic-color-state-disabled-text: #00000042;

  /* ----- Component Layer ----- */
  --button-border-radius: var(--border-radius-4);
  --button-contained-default-background-color: var(--color-grey-300);
  --button-contained-default-text-color: #000000de;
  --button-contained-default-state-hover: var(--color-grey-400);
  --button-contained-primary-state-hover: var(--color-blue-900);
  --button-contained-secondary-state-hover: var(--color-yellow-500);
  --button-outlined-default-border-color: var(--color-grey-300);
  --button-outlined-default-state-hover: var(--color-grey-300);
  --button-outlined-primary-state-hover: var(--color-blue-50);
  --button-outlined-secondary-state-hover: var(--color-yellow-100);

  --card-border-color: var(--color-grey-300);
  --card-border-radius: var(--border-radius-8);
}
